{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projekty</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Client</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('projects_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                <td>{{ project.name }}</td>
                <td>{{ project.client }}</td>
                <td>
                            <a class="btn btn-primary" href="{{ path('projects_show', { 'id': project.id }) }}">show</a>
                            <a class="btn btn-info" href="{{ path('projects_edit', { 'id': project.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('projects_new') }}">Create a new project</a>


{% endblock %}
