{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projekty</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Klient</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ clientNames[project.clientId] }}</td>
                <td>
                            <a class="btn btn-primary" href="{{ path('projects_show', { 'id': project.id }) }}">szczegóły</a>
                            <a class="btn btn-info" href="{{ path('projects_edit', { 'id': project.id }) }}">edycja</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('projects_new') }}">nowy projekt</a>


{% endblock %}
