{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ project.name }}</h1>

    <table class="table table-bordered" style="width:30%">
        <tbody>
            <tr>
                <th>Nazwa</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>Klient</th>
                <td>{{ client }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Czas pracowników przeznaczony na projekt:</h3>
    <form action="{{ path('projects_redirect')}}" method="post">
        <input type="hidden" name="projectid" value="{{ project.id }}">
        <select name="year">
            {% for year in years %}
                <option value="{{ year }}" {% if year == currentYear %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-primary" value="Wybierz rok">
    </form>

    <ul class="nav nav-tabs">
        {% for username,id in users %}
            <li><a data-toggle="tab" href="#{{ id }}">{{ username }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
    {% for username,id in users %}
        <div id="{{ id }}" class="tab-pane fade">
            <ul class="nav nav-tabs">
                {% for name,month in dates %}
                    <li><a data-toggle="tab" href="#{{ name }}{{ id }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
            {% for name,month in dates %}
                <div id="{{ name }}{{ id }}" class="tab-pane fade">
                    <h3>{{ name }}</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Dzień</th>
                            <th>Zadanie/Liczba godzin</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set myhours = 0 %}
                        {% set weekhours = 0 %}
                        {% for day,values in month %}
                            <tr {% if values.day == 'Sat' or values.day == 'Sun' %}
                                style="background-color: #9d9d9d"
                            {% elseif values.free is defined %}
                                style="background-color: #9d9d9d"
                            {% endif %}
                            >
                                <td>{% if day %}{{ day|date('Y-m-d') }}{% endif %}</td>
                                {% if values.users is defined and values.users[id] is defined %}
                                    <td>
                                    {% for task, hours in values.users[id] %}
                                        {{ task }} / {{ hours|date('H:i') }} h <br>
                                        {% set myhours = myhours + hours|date('H:i') %}
                                        {% set weekhours = weekhours + hours|date('H:i')  %}
                                    {% endfor %}
                                    </td>
                                {% elseif values.day != 'Sat' and values.day != 'Sun' and values.free is not defined%}
                                    <td colspan="5"></td>
                                {% elseif values.free is defined %}
                                    <td colspan="5">Święto</td>
                                {% elseif values.day == 'Sat' or values.day == 'Sun'%}
                                    <td colspan="5" style="font-weight:bold">
                                        {% if values.day == 'Sat' %}Przepracowano {{ weekhours }} godzin w tygodniu{% endif %}
                                        {% set weekhours = 0 %}
                                    </td>

                                {% endif %}
                            </tr>
                        {% endfor %}
                        <tr><td colspan="1"></td><td style="font-weight:bold">Przepracowano {{ myhours }}  godzin w miesiącu</td></tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>


            <p style="margin-top:50px">
                <a class="btn btn-primary" href="{{ path('projects_index') }}">powrót</a>
                <a class="btn btn-info" href="{{ path('projects_edit', { 'id': project.id }) }}">edytuj</a>
                <br><br>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="kasuj">
                {{ form_end(delete_form) }}
            </p>

{% endblock %}
