{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div style="max-width: 20%">
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'Login'|trans }}</label>
    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'Password'|trans }}</label>
    <input type="password" class="form-control" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'remember me'|trans }}</label>

    <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'submit'|trans }}" />
</form>
</div>
