{% extends 'base.html.twig' %}

{% block body %}
    <h1>Klienci</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Klient</th>
            <th>Email</th>
            <th>Liczba projektów</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ projects[client.id] }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('clients_show', { 'id': client.id, 'year': year }) }}">szczegóły</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('clients_new') }}">nowy klient</a>


{% endblock %}
