{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>Edycja raportu z dnia {{ dayReport.date|date('Y-m-d') }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Zapisz" />
    <a class="btn btn-primary" href="{{ path('dayreport_mysheet') }}">powrót do listy</a>
    {{ form_end(edit_form) }}
    <br>
    {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Kasuj">
    {{ form_end(delete_form) }}

{% endblock %}
