{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dayreports list {{ username }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>End</th>
                <th>Userid</th>
                <th>Comment</th>
                <th>Canedit</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dayReport in dayReports %}
            <tr>
                <td><a href="{{ path('dayreport_show', { 'id': dayReport.id }) }}">{{ dayReport.id }}</a></td>
                <td>{% if dayReport.start %}{{ dayReport.start|date('H:i:s') }}{% endif %}</td>
                <td>{% if dayReport.end %}{{ dayReport.end|date('H:i:s') }}{% endif %}</td>
                <td>{{ dayReport.userId }}</td>
                <td>{{ dayReport.comment }}</td>
                <td>{% if dayReport.canEdit %}Yes{% else %}No{% endif %}</td>
                <td>{% if dayReport.date %}{{ dayReport.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('dayreport_show', { 'id': dayReport.id }) }}">show</a>
                    <a class="btn btn-info" href="{{ path('dayreport_edit', { 'id': dayReport.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('dayreport_new') }}">Create a new dayReport</a>

{% endblock %}
