{% extends 'base.html.twig' %}

{% block body %}
    <h1>Moje raporty</h1>
    <a class="btn btn-success" href="{{ path('dayreport_new') }}">Stwórz raport</a>
    <ul class="nav nav-tabs">
        {% for name,month in dates %}
            <li{% if currentMonth == name %} class="active"{% endif %}><a data-toggle="tab" href="#{{ name }}">{{ name }}</a></li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for name,month in dates %}
            <div id="{{ name }}" class="tab-pane fade {% if currentMonth == name %}active in{% endif %}">
                <h3>{{ name }}</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Data</th>
                        <th>Start</th>
                        <th>Koniec</th>
                        <th>Czas</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set workhours = 0 %}
                    {% set myhours = 0 %}
                    {% set weekhours = 0 %}
                    {% for day,values in month %}
                        <tr {% if values.day == 'Sat' or values.day == 'Sun' %}
                            style="background-color: #9d9d9d"
                        {% elseif values.free is defined %}
                            {% if values.free == 1 %}
                                style="background-color: #9d9d9d"
                            {% else %}
                                style="background-color: #7EC0EE"
                            {% endif %}
                        {% else %}
                            {% set workhours = workhours + 8 %}
                        {% endif %}
                        >
                            <td>{% if day %}{{ day|date('Y-m-d') }}{% endif %}</td>
                            {% if values.start is defined %}
                            <td>{% if values.start is defined %}{{ values.start|date('H:i') }}{% endif %}</td>
                            <td>{% if values.end is defined %}{{ values.end|date('H:i') }}{% endif %}</td>
                            <td>{{ values.time }}</td>
                                {% set myhours = myhours + values.time %}
                                {% set weekhours = weekhours + values.time %}
                            <td>
                                {% if values.id is defined %}
                                    <a class="btn btn-primary" href="{{ path('dayreport_show', { 'id': values.id }) }}">szczegóły</a>
                                    {% if values.can_edit ==1 %}
                                        <a class="btn btn-info" href="{{ path('dayreport_edit', { 'id': values.id }) }}">edytuj</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            {% elseif values.day != 'Sat' and values.day != 'Sun' and values.free is not defined%}
                                <td colspan="5"><a class="btn btn-danger" href="{{ path('dayreport_new_date',{'date' : day}) }}">Uzupełnij</a></td>
                            {% elseif values.free is defined %}
                                {% if values.free == 1 %}
                                    <td colspan="5">Święto</td>
                                 {% else %}
                                     <td colspan="5"><strong>Urlop</strong></td>
                                 {% endif %}
                            {% elseif values.day == 'Sat' or values.day == 'Sun'%}
                                <td colspan="5" style="font-weight:bold">
                                    {% if values.day == 'Sat' %}Przepracowano {{ weekhours }} godzin w tygodniu{% endif %}
                                    {% set weekhours = 0 %}
                                </td>

                            {% endif %}
                        </tr>
                    {% endfor %}
                    <tr><td colspan="1"></td><td style="calcfont-weight:bold">Przepracowano {{ myhours }} z {{ workhours }} godzin w miesiącu</td></tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>




{% endblock %}
