{% extends 'base.html.twig' %}

{% block body %}
    <h1>Raport z dnia {{ dayReport.date|date('Y-m-d') }}</h1>

    <table style="width:50%" class="table table-bordered">
        <tbody>
            <tr>
                <th>Godzina rozpoczęcia</th>
                <td>{% if dayReport.start %}{{ dayReport.start|date('H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Godzina zakończenia</th>
                <td>{% if dayReport.end %}{{ dayReport.end|date('H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Komentarz</th>
                <td>{{ dayReport.comment }}</td>
            </tr>
            <tr>
                <th>Czy można edytować ?</th>
                <td>{% if dayReport.canEdit %}Tak{% else %}Nie{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <h2>Projekty:</h2>
    <table style="width:50%" class="table table-bordered">
        <tbody>
        {% for report in reports %}
            <tr>
                <th>{{ report.projectName }}</th>
                <th>{{ report.time|date('H:i') }} h</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('dayreport_mysheet') }}">powrót do listy</a>
    {% if dayReport.canEdit == 1 %}
        <a class="btn btn-info" href="{{ path('dayreport_edit', { 'id': dayReport.id }) }}">Edycja</a>
        <br><br>
        {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Kasuj">
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
