{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {% if username is defined %}
            {{ username }}
        {% endif %}
        - Urlopy
    </h1>

    {% if error is defined and error != '' %}
        <div class="alert alert-danger">
            {% if error == 1 %}
                <strong>Istnieje już urlop dla wybranej daty.</strong>
            {% elseif error == 2 %}
                <strong>Istnieje raport dla wybranej daty.</strong>
            {% elseif error == 3 %}
                <strong>Wybrano sobotę lub niedzielę.</strong>
            {% endif %}
        </div>
    {% endif %}

    <a class="btn btn-success" href="{{ path('leaves_new') }}">zgłoś urlop</a>
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Data</th>
        <th>Komentarz</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for leave in myleaves %}
        <tr>
        <td>{{ leave.date|date('Y-m-d') }}</td>
        <td>{{ leave.comment }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <p>Wykorzystano <strong>{{ mysummary }}</strong> z <strong>{{ summary }}</strong> dni w roku.</p>
{% endblock %}